In [1]:
import numpy as np
import pandas as pd

In [2]:
base = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/boston_all_years_nan.csv')
n15 = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/nyc_marathon_2015.csv')
n16 = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/nyc_marathon_2016.csv')
n17 = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/nyc_marathon_2017.csv')
n18 = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/nyc_marathon_2018.csv')

In [3]:
# Converting time to seconds
import time, datetime
def convertTime(t):
    t = str(t)
    x = time.strptime(t,'%H:%M:%S')
    return int(datetime.timedelta(hours=x.tm_hour,minutes=x.tm_min,seconds=x.tm_sec).total_seconds())

In [4]:
# Merging all nyc datasets first
n = n15.append(n16, ignore_index=True)
n = n.append(n17, ignore_index=True)
n = n.append(n18, ignore_index=True)

time_cols = ['splint_10k', 'splint_15k', 'splint_20k', 'splint_25k',
             'splint_30k', 'splint_35k', 'splint_40k', 'splint_5k',
             'splint_half']

# Removing records with missing split times
n = n.dropna(subset=['splint_10k', 'splint_15k', 'splint_20k', 'splint_25k',
             'splint_30k', 'splint_35k', 'splint_40k', 'splint_5k',
             'splint_half', 'age', 'official_time'])

# Consistent age
n.age = n.age.astype('int64')


# Converting HH:MM:SS to seconds
n['splint_10k'] = n['splint_10k'].apply(convertTime)
n['splint_15k'] = n['splint_15k'].apply(convertTime)
n['splint_20k'] = n['splint_20k'].apply(convertTime)
n['splint_25k'] = n['splint_25k'].apply(convertTime)
n['splint_30k'] = n['splint_30k'].apply(convertTime)
n['splint_35k'] = n['splint_35k'].apply(convertTime)
n['splint_40k'] = n['splint_40k'].apply(convertTime)
n['splint_5k'] = n['splint_5k'].apply(convertTime)
n['splint_half'] = n['splint_half'].apply(convertTime)
n['official_time'] = n['official_time'].apply(convertTime)

In [5]:
# Removing gender from bib in boston base
base.bib = base.bib.str.replace('W', '')

# Assuming na citizen and division in nyc data
n['citizen'] = None
n['division'] = None
n['genderdiv'] = None
n['age_bucket'] = None
n['age_range'] = None

In [6]:
base['age_range'].unique()

array(['25-29', '30-34', '20-24', '35-39', '40-44', '45-49', '55-59',
       '<= 19', '50-54', '60-64', '65-69', '70-74', '75-79', '80+'],
      dtype=object)

In [7]:
base.dtypes

10k              float64
15k              float64
20k              float64
25k              float64
30k              float64
35k              float64
40k              float64
5k               float64
age                int64
bib               object
citizen           object
city              object
country           object
division           int64
gender            object
gender_place     float64
genderdiv        float64
half             float64
name              object
official_time    float64
overall            int64
pace             float64
state             object
year               int64
age_bucket         int64
age_range         object
dtype: object

In [8]:
n.dtypes

bib                      float64
gender                    object
age                        int64
gun_place                float64
gun_time                  object
name                      object
official_time              int64
pace_per_mile             object
percentile_age-graded     object
city                      object
state                     object
place_age-graded         float64
place_age-graded_of      float64
place_age-group          float64
place_age-group_of       float64
place_gender             float64
place_gender_of          float64
place_overall            float64
place_overall_of         float64
splint_10k                 int64
splint_15k                 int64
splint_20k                 int64
splint_25k                 int64
splint_30k                 int64
splint_35k                 int64
splint_40k                 int64
splint_5k                  int64
splint_half                int64
team                      object
time_age-graded           object
type                      object
year                       int64
state_name                object
lat                      float64
long                     float64
country                   object
citizen                  float64
division                 float64
genderdiv                float64
age_bucket               float64
age_range                float64
dtype: object

In [16]:
df = np.concatenate((base, n[['splint_10k', 'splint_15k', 'splint_20k', 'splint_25k', 'splint_30k', 'splint_35k', 'splint_40k', 'splint_5k', 'age', 'bib', 'citizen', 'city', 'country', 'division', 'gender', 'place_gender', 'genderdiv', 'splint_half', 'name', 'official_time', 'place_overall', 'pace_per_mile', 'state', 'year', 'age_range', 'age_bucket']]), axis=0)
df = pd.DataFrame(df)

#### Merging with Chicago

In [49]:
n2 = n[['splint_10k', 'splint_15k', 'splint_20k', 'splint_25k', 'splint_30k', 'splint_35k', 'splint_40k', 'splint_5k', 'age', 'bib', 'citizen', 'city', 'country', 'division', 'gender', 'place_gender', 'genderdiv', 'splint_half', 'name', 'official_time', 'place_overall', 'pace_per_mile', 'state', 'year', 'age_range', 'age_bucket']]

In [53]:
n2 = n2.rename(columns = {"splint_10k": "10k", "splint_15k":"15k", "splint_20k": "20k", "splint_25k": "25k"
                          , "splint_30k": "30k", "splint_35k": "35k", "splint_40k": "40k", "splint_5k": "5k"
                          , "place_gender": "gender_place", "splint_half": "half", "splint_20k": "20k"
                          , "place_overall": "overall", "pace_per_mile": "pace"})

In [57]:
n2.columns.values

array(['10k', '15k', '20k', '25k', '30k', '35k', '40k', '5k', 'age',
       'bib', 'citizen', 'city', 'country', 'division', 'gender',
       'gender_place', 'genderdiv', 'half', 'name', 'official_time',
       'overall', 'pace', 'state', 'year', 'age_range', 'age_bucket'],
      dtype=object)

In [58]:
base.columns.values

array(['10k', '15k', '20k', '25k', '30k', '35k', '40k', '5k', 'age',
       'bib', 'citizen', 'city', 'country', 'division', 'gender',
       'gender_place', 'genderdiv', 'half', 'name', 'official_time',
       'overall', 'pace', 'state', 'year', 'age_bucket', 'age_range'],
      dtype=object)

In [114]:
df = base.append(n2, ignore_index=True)

/ihme/homes/edwin100/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(327833, 26)

In [197]:
# chi14m = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2014_M.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])
# chi14w = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2014_W.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])
# chi15m = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2015_M.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])
# chi15w = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2015_W.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])
# chi16m = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2016_M.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])
# chi16w = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2016_W.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])
chi17m = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2017_M.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])
# chi17w = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2017_W.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'city', 'state', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])

with open('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2014_M.csv', 'r') as f:
    temp =  f.read()
temp = temp.split('\n')
l = []
for i in temp:
    i = i.split('|')
    if len(i) == 20:
        l.append(i)
chi14m = pd.DataFrame(l, columns=l[0])
chi14m = chi14m.drop(0, axis=0)

with open('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2014_W.csv', 'r') as f:
    temp =  f.read()
temp = temp.split('\n')
l = []
for i in temp:
    i = i.split('|')
    if len(i) == 20:
        l.append(i)
chi14w = pd.DataFrame(l, columns=l[0])
chi14w = chi14w.drop(0, axis=0)

with open('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2015_M.csv', 'r') as f:
    temp =  f.read()
temp = temp.split('\n')
l = []
for i in temp:
    i = i.split('|')
    if len(i) == 20:
        l.append(i)
chi15m = pd.DataFrame(l, columns=l[0])
chi15m = chi15m.drop(0, axis=0)

with open('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2015_W.csv', 'r') as f:
    temp =  f.read()
temp = temp.split('\n')
l = []
for i in temp:
    i = i.split('|')
    if len(i) == 20:
        l.append(i)
chi15w = pd.DataFrame(l, columns=l[0])
chi15w = chi15w.drop(0, axis=0)

with open('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2016_M.csv', 'r') as f:
    temp =  f.read()
temp = temp.split('\n')
l = []
for i in temp:
    i = i.split('|')
    if len(i) == 20:
        l.append(i)
chi16m = pd.DataFrame(l, columns=l[0])
chi16m = chi16m.drop(0, axis=0)

with open('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2016_W.csv', 'r') as f:
    temp =  f.read()
temp = temp.split('\n')
l = []
for i in temp:
    i = i.split('|')
    if len(i) == 20:
        l.append(i)
chi16w = pd.DataFrame(l, columns=l[0])
chi16w = chi16w.drop(0, axis=0)

with open('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/chicago_marathon_2017_W.csv', 'r') as f:
    temp =  f.read()
temp = temp.split('\n')
l = []
for i in temp:
    i = i.split('|')
    if len(i) == 20:
        l.append(i)
chi17w = pd.DataFrame(l, columns=l[0])
chi17w = chi17w.drop(0, axis=0)

In [200]:
chi14m[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']] = chi14m[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']].astype('int64')
chi14m[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']] = chi14m[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']].astype('float64')
chi14w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']] = chi14w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']].astype('int64')
chi14w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']] = chi14w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']].astype('float64')
chi15m[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']] = chi15m[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']].astype('int64')
chi15m[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']] = chi15m[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']].astype('float64')
chi15w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']] = chi15w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']].astype('int64')
chi15w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']] = chi15w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']].astype('float64')
chi16m[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']] = chi16m[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']].astype('int64')
chi16m[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']] = chi16m[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']].astype('float64')
chi16w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']] = chi16w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']].astype('int64')
chi16w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']] = chi16w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']].astype('float64')
chi17w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']] = chi17w[['year', 'bib', 'rank_gender', 'rank_age_group', 'overall']].astype('int64')
chi17w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']] = chi17w[['5k','10k','15k','20k','half','25k','30k','35k','40k','finish']].astype('float64')

In [248]:
# Merging all chicago datasets first
chi = chi14m.append(chi14w, ignore_index=True)
chi = chi.append(chi15m, ignore_index=True)
chi = chi.append(chi15w, ignore_index=True)
chi = chi.append(chi16m, ignore_index=True)
chi = chi.append(chi16w, ignore_index=True)
chi = chi.append(chi17m, ignore_index=True)
chi = chi.append(chi17w, ignore_index=True)

In [249]:
# chi.head()
chi['age'] = None
chi['age_bucket'] = None
chi['citizen'] = None
chi['division'] = None
chi['genderdiv'] = None
chi['name'] = None
chi['official_time'] = None
chi['pace'] = None


chi = chi.rename(columns={'age_group':'age_range', 'rank_gender': 'gender_place'})
chi = chi.drop(['rank_age_group', 'finish'], axis=1)

In [246]:
chi.columns.values

array(['year', 'bib', 'age_range', 'gender', 'city', 'state', 'country',
       'overall', 'gender_place', '5k', '10k', '15k', '20k', 'half',
       '25k', '30k', '35k', '40k', 'age', 'age_bucket', 'citizen',
       'division', 'genderdiv', 'name', 'official_time', 'pace'],
      dtype=object)

In [247]:
df.columns.values

array(['10k', '15k', '20k', '25k', '30k', '35k', '40k', '5k', 'age',
       'age_bucket', 'age_range', 'bib', 'citizen', 'city', 'country',
       'division', 'gender', 'gender_place', 'genderdiv', 'half', 'name',
       'official_time', 'overall', 'pace', 'state', 'year'], dtype=object)

In [250]:
df = df.append(chi, ignore_index=True)

(490747, 26)

In [253]:
df.to_csv('bostonnycchicago.csv',index=False)

#### Merging with London

In [ ]:
lon14m = pd.read_csv('/ihme/homes/edwin100/notebooks/515/boston_marathon_dashboard/data/london_marathon_2014_M.csv', sep = '|', usecols=['year', 'bib', 'age_group', 'gender', 'country', 'overall', 'rank_gender', 'rank_age_group', '5k', '10k', '15k', '20k', 'half', '25k', '30k', '35k', '40k', 'finish'])